################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SharePointPOC/.vs/SharePointPOC/v15
/SharePointPOC/SharePointPOC/bin/Debug
/SharePointPOC/SharePointPOC/obj/Debug
/SharePointPOC/.vs/SharePointPOC/DesignTimeBuild
/SharePointPOC/SharePointPOCLib/obj/Debug
/SharePointPOC/SharePointPOCLib/bin/Debug
/SharePointPOC/SharePointPOCLib/obj/Release
/SharepointPOCBot/.vs
/SharepointPOCBot/bin
/SharepointPOCBot/obj
/SharepointPOCBot/packages
/SharepointPOCBot/Properties/PublishProfiles
/SharePointPOC/SharePointPOCLib/bin/Release
/SharepointPOCBot/Web.Release.config
/SharepointPOCBot/Web.Debug.config
/ExcelFileReader/.vs/CsvHelper/DesignTimeBuild
/ExcelFileReader/.vs/CsvHelper/v15/Server/sqlite3
/RavePOCBot/.vs
/RavePOCBot/bin
/RavePOCBot/obj
/RavePOCBot/packages
/RavePOCBot/Properties/PublishProfiles
/ExcelFileReader/.vs/CsvHelper/v15

/**/.dll
/**/.vs
/**/packages
/**/bin
/**/obj
/FordPOCBot/Properties/PublishProfiles

