<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OrgServiceUrl" value="https://acmsdev.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="xyz@microsoft.com" />
    <add key="Password" value="" />
    <add key="GitPassword" value="personalaccestoken" />
    <add key="RepositoryLocalDirectory" value="C:\Syed\1\localmappedgitrepository\" />
    <add key="RepositoryUrl" value="https://repositoryurl.visualstudio.com/MCOI%20BOSE%20Compass/_git/Compass%20Commissioning" />
    <add key="BranchName" value="testsyed" />
    <add key="RemoteName" value="origin" />
    <add key="SleepTimeoutInMillis" value="60000" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
